:root {
  --white: #FBFBFF;
  --white-dimmed: #F0F0F3;

  --grey: #33333F;
  --grey-dark: #17171F;
  --grey-middle: #53535F;
  --grey-light: #CACACF;

  --blue: #1097FF;
  --cyan: #31D7FF;
  --yellow: #FFE070;
  --red: #ED1C24;
}
