:root {
  --color-accent: var(--white-dimmed);

  --color-bg: var(--white);
  --color-bg-dark: var(--grey-dark);

  --color-link: var(--blue);
  --color-link-active: var(--cyan);

  --color-font: var(--grey-middle);
  --color-font-light: var(--grey-light);
  --color-font-dark: var(--grey-dark);

  --color-selection: var(--yellow);
  --color-selection-fg: var(--grey-dark);

  --font-main: "Open Sans", "Helvetica Neue", sans-serif;
  --font-secondary: "Playfair Display", Georgia, serif;
  --font-caps: "Raleway", Helvetica, sans-serif;

  --layout-gutter: 2.3rem;

  @custom-media --screen-desktop (device-width >= 960px) and (width >= 960px);
  @custom-media --screen-tablet (device-width >= 440px) and (width >= 440px);
  @custom-media --screen-mobile (device-width <= 440px);

  @custom-selector :--heading h1,h2,h3,h4,h5,h6;
  @custom-selector :--link a:link, a:visited;
}
