$accent-color: $white-dimmed;
$bg-dark: #202023;

/* Links */

$link-color: $blue;
$link-active-color: $cyan;

/* Fonts */

$font-light-color: $grey-light;
$font-color: $grey-middle;
$font-dark-color: $grey-dark;

$font-main: "Open Sans", "Helvetica Neue", sans-serif;
$font-secondary: "Playfair Display", Georgia, serif;
$font-caps: "Raleway", Helvetica, sans-serif;

/* Layout */

$gutter: 2.3rem;

/* Media Queries */

$device-screen-desktop: 960px;
$device-screen-laptop: 640px;
$device-screen-mobile: 440px;
