:root {
  --color-accent: var(--white-dimmed);

  --color-bg: var(--white);
  --color-bg-dark: var(--grey-dark);

  --color-link: var(--blue);
  --color-link-active: var(--cyan);

  --color-font: var(--grey-middle);
  --color-font-light: var(--grey-light);
  --color-font-dark: var(--grey-dark);

  --color-selection: var(--yellow);
  --color-selection-fg: var(--grey-dark);

  --font-main: "Open Sans", "Helvetica Neue", sans-serif;
  --font-secondary: "Playfair Display", Georgia, serif;
  --font-caps: "Raleway", Helvetica, sans-serif;

  --gutter: 2.3rem;

  --media-screen-desktop: 960px;
  --media-screen-laptop: 640px;
  --media-screen-mobile: 440px;
}
