<header class="header container">
  <div class="menu-container"></div>

  <h1 class="logo header__logo">
    <a href="{% url 'pages:index' %}">Slava Pavlutin</a>
  </h1>

  <nav class="nav header__nav" role="navigation">
    <ul>
      <li class="nav__item nav__item_animated">
        <a href="{% url 'pages:index' %}">Projects</a>
      </li>
      <li class="nav__item nav__item_animated">
        <a href="{% url 'pages:index' %}">Blog</a>
      </li>
      <li class="nav__item nav__item_animated">
        <a href="{% url 'pages:index' %}">About</a>
      </li>
    </ul>
  </nav>
</header>
