<header class="layout-header layout-container">
  <h1 class="logo">
    <a target="_blank" href="{% url 'pages:index' %}">Slava Pavlutin</a>
  </h1>

  <nav class="nav" role="navigation">
    <ul class="nav">
      <li class="nav__item">
        <a href="{% url 'pages:index' %}">Projects</a>
      </li>
      <li class="nav__item">
        <a href="{% url 'pages:index' %}">Blog</a>
      </li>
      <li class="nav__item">
        <a href="{% url 'pages:index' %}">Contact Me</a>
      </li>
    </ul>
  </nav>
</header>
