.footer {
  overflow: hidden;
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: var(--color-bg-light);
  font-size: 0.9em;
  color: var(--color-text-light);

  & :--link {
    text-decoration: underline;
    color: var(--color-text-lightest);
  }

  & :--link-active {
    text-decoration: none;
  }

  :--heading {
    text-align: center;
    color: var(--color-text-lightest);
  }
}

.footer__copy {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8em;
  color: var(--color-text-em-dark);
  text-shadow: 1px 1px rgba(255, 200, 200, 0.2);
}

.decoration-shadow {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: -20%;
    right: -20%;
    height: 20px;
    background: radial-gradient(ellipse at top, rgba(0,0,0,0.313) 0%, transparent 60%, rgba(0,0,0,0) 100%);
  }
}


@media (--screen-medium) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;

    & :--heading {
      text-align: left;
    }

    & > .box {
      margin-right: 1em;
    }
  }

  .footer__copy {
    width: 100%;
  }
}
