.l-footer {
  padding-top: 1em;
  padding-bottom: 1em;
  border-top: 1px solid $font-light-color;
  margin-top: 7em;
  background-color: $bg-dark;
}

.l-footer small {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.5em;
  color: $font-color;
}

.l-footer a {
  color: $font-light-color;
  text-decoration: none;

  &:hover {
    color: $link-color;
  }
}
