{% extends "base.html" %}

{% block content %}
  <hgroup class="title">
    <h1 class="title__main">Frontend Development</h1>
    <h3 class="title__secondary">Done Right</h3>
  </hgroup>
  <p>
    I'm a frontend web developer who is proficient with all the modern
    web technologies such as HTML5, CSS3, ES6 etc.
  </p>
  <p>{% lorem %}</p>

  <h2>Technologies</h2>
  <p>{% lorem %}</p>
  <p>{% lorem %}</p>
  <p>I use the following technologies:</p>
  <ul>
    <li>HTML 5</li>
    <li>Responsive CSS 3 and CSS 4</li>
    <li>JavaScript, jQuery, React.js</li>
  </ul>

  <h2>Methodology</h2>
  <ul>
    <li>Mobile First development</li>
    <li>Progressive Enhancement</li>
    <li>Wide Browser Support</li>
  </ul>

  <h2>Portfolio</h2>
  <p>
    The real text goes here. I need to test how sentences in English look
    like so here's my attempt to
    <a href="#somewhere">write</a>
    a text which represents
    a simple piece of content.
  </p>
{% endblock %}
