.nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav__item {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid var(--color-font-light);

  &:last-child {
    border: 0;
  }

  &:hover {
    border-color: var(--color-font-em);
  }

  > a {
    display: block;
    padding: 2em 0;
    text-decoration: none;
    color: var(--color-font);
    transition: 0.5s ease;

    &:hover {
      color: var(--color-font-em);
    }
  }
}

@media (--screen-tablet) {
  .nav__item {
    display: inline-block;
    border: 0;
    margin-left: 1.7em;

    &:first-child {
      margin-left: 0;
    }

    & > a {
      position: relative;
      padding: 1.6em 0;
      line-height: 1.9;

      &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        bottom: 1em;
        height: 3px;
        width: 0;
        transition: width 0s ease, background 0.5s ease;
      }

      &:after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        bottom: 1em;
        height: 3px;
        width: 0;
        background: red;
        transition: width 0.5s ease;
      }

      &:hover:before, &.active:before {
        width: 100%;
        background: red;
        transition: width 0.5s ease;
      }

      &:hover:after, &.active:after {
        width: 100%;
        background: transparent;
        transition: width 0.5s ease;
      }
    }
  }
}
