.l-container {
  padding: 0 20%;
  margin: 0 auto;

  @media (max-width: 960px) {
    padding: 0 10%;
  }

  @media (max-width: 640px) {
    padding: 0 5%;
  }
}

.logo {
  padding: 0;
  margin: 0;
  font-size: 1em;
  font-weight: 500;
  font-family: $font-caps;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-left: 1em;

    &:first-child {
      margin-left: 0;
    }
  }
}

.icon {
  display: inline-block;
  font-size: 0.9333333em;
  vertical-align: top;
}
