@import "components/logo";
@import "components/nav";


.title {
  padding-left: 1em;
  border-left: 0.2em solid var(--color-bg-light);
  border-right: 0.2em solid var(--color-bg-light);
  margin: 3em 0;
}

.title__main {
  margin-bottom: 0;
  text-transform: uppercase;
  color: var(--color-font-dark);
}

.title__secondary {
  margin-top: 0;
  color: var(--color-font-em);
}


.anchor {
  margin-left: 0.3em;
  text-decoration: none;

  &:link, &:visited {
    color: var(--color-font-light);
  }

  &:hover, &:active {
    color: var(--color-font-em);
  }
}

.btn-menu {
  display: block;
  background: transparent;
  position: relative;
  width: 2.3em;
  height: 1.5em;
  padding: 0;
  margin-top: 1.17rem;
  color: transparent;
  border: 0;
  cursor: pointer;

  &:before, &:after {
    background: var(--color-font);
    backface-visibility: hidden;
    content: '';
    width: 2.3em;
    height: 2px;
    left: 0;
    transition: 0.35s;
  }

  &:before {
    position: absolute;
    box-shadow: var(--color-font) 0 0.62333em 0 0;
    top: 0;
  }

  &:after {
    position: absolute;
    top: calc(100% - 3px);
  }

  &.btn-menu_active {
    &:before {
      box-shadow: transparent 0 0 0 0;
      top: 50%;
      transform: rotate(225deg);
    }

    &:after {
      top: 50%;
      transform: rotate(315deg);
    }
  }
}
