.layout-container {
  padding: 0 5%;
  margin: 0 auto;
}

.site-logo {
  font-family: $font-caps;
  font-weight: 200;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.site-nav {
  > ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin: 0;
    border-bottom: 1px solid $font-color;

    &:hover {
      border-color: white;
    }

    &:last-child {
      border: 0;
    }

    > a {
      display: block;
      padding: 2em 0;

      &:hover {
        color: $font-color;
      }
    }
  }
}
