@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';


.layout-container, .layout-container_fill {
  box-sizing: content-box;
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
  max-width: var(--layout-width-max);
}

@media (--screen-medium) {
  .layout-container, .layout-container_fill {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (--screen-large) {
  .layout-container_fill {
    padding-left: calc((100% - 960px) / 2);
    padding-right: calc((100% - 960px) / 2);
  }
}
