@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';


.layout-container {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

@media (--screen-tablet) {
  .layout-container {
    padding-left: 10%;
    padding-right: 10%;
  }
}

@media (--screen-desktop) {
  .layout-container {
    padding-left: 25%;
    padding-right: 25%;
  }
}
