@import 'layout/header';
@import 'layout/content';
@import 'layout/footer';


.layout-container {
  padding-left: 5%;
  padding-right: 5%;
  margin: 0 auto;
}

@media (--screen-medium) {
  .layout-container {
    padding-left: 10%;
    padding-right: 10%;
    max-width: 960px;
  }
}
