$accent-color: $white-dimmed;

/* Links */

$link-color: $blue;
$link-active-color: $cyan;

/* Fonts */

$font-light-color: $grey-light;
$font-color: $grey-middle;
$font-dark-color: $grey-dark;

$font-main: "Roboto", "Open Sans", "Helvetica Neue", sans-serif;
$font-secondary: "Playfair Display", Georgia, serif;
$font-caps: "Raleway", sans-serif;

/* Layout */

$gutter: 2.3rem;
