{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  <title>Slava Pavlutin</title>

  <link rel="stylesheet" href="{% static 'css/bundle.css' %}">

  <link href="https://fonts.googleapis.com/css?family=Playfair+Display|Open+Sans|Raleway:200,300,400" rel="stylesheet">
</head>
<body>
  <header class="site-header layout-container">
    <h1 class="site-logo">
      <a href="{% url 'pages:index' %}">Slava Pavlutin</a>
    </h1>

    <nav class="site-nav">
      <ul>
        <li>
          <a href="{% url 'pages:index' %}">Projects</a>
        </li>
        <li>
          <a href="{% url 'pages:index' %}">Blog</a>
        </li>
        <li><a href="{% url 'pages:index' %}">About</a></li>
      </ul>
    </nav>
  </header>

  <div class="site-content layout-container">
    {% block content %}
    {% endblock %}
  </div>

  <footer class="site-footer layout-container">
    <nav class="site-nav">
      <ul>
        <li>
          <a href="http://twitter.com" rel="external">Twitter</a>
        </li>
        <li>
          <a href="http://github.com/slavapavlutin" rel="external">GitHub</a>
        </li>
      </ul>
    </nav>

    <small>
      <span class="site-logo">Slava Pavlutin</span> &copy; 2016
    </small>
  </footer>

  <script src="{% static 'js/bundle.js' %}"></script>
</body>
</html>
